aiobotocore==2.3.4
aiohttp==3.8.1
aioitertools==0.10.0
aiosignal==1.2.0
alabaster==0.7.12
appdirs==1.4.4
arrow==1.2.2
async-timeout==4.0.2
bokeh==2.4.3
botocore==1.24.21
certifi==2022.6.15
cftime==1.6.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.1.0
colorcet==3.0.0
dask==2022.7.1
datashader==0.14.1
datashape==0.5.2
dill==0.3.5.1
distributed==2022.7.1
docutils==0.17.1
dpcpp-cpp-rt==2022.1.0
fonttools==4.34.4
frozenlist==1.3.0
fsspec==2022.5.0
future==0.18.2
gsw==3.4.0
h5netcdf==1.0.2
h5py==3.7.0
HeapDict==1.0.1
holoviews==1.15.0
hvplot==0.8.0
imagesize==1.4.1
importlib-metadata==4.12.0
intel-cmplr-lib-rt==2022.1.0
intel-cmplr-lic-rt==2022.1.0
intel-numpy==1.21.4
intel-opencl-rt==2022.1.0
intel-openmp==2022.1.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jmespath==1.0.1
joblib==1.1.0
langcodes==3.3.0
livereload==2.6.3
locket==1.0.0
lxml==4.9.1
Markdown==3.4.1
matlab==0.1
matplotlib==3.5.2
matplotlib-inline==0.1.6
MetPy==1.3.1
mizani==0.7.4
mkl==2022.1.0
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mkl-umath==0.1.1
msgpack==1.0.4
multidict==6.0.2
multipledispatch==0.6.0
netCDF4==1.6.0
numpy==1.22.4
palettable==3.3.0
pandas==1.4.3
panel==0.13.1
param==1.12.2
partd==1.2.0
patsy==0.5.2
Pillow==9.2.0
Pint==0.19.2
plotnine==0.9.0
pockets==0.9.1
pooch==1.6.0
proj==0.2.0
pyct==0.4.8
pyviz-comms==2.2.0
PyYAML==6.0
s3fs==2022.5.0
scikit-learn==1.1.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==5.1.1
sphinx-autobuild==2021.3.14
sphinx-gallery==0.10.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.13.2
tbb==2021.6.0
tbb4py==2021.6.3
tblib==1.7.0
threadpoolctl==3.1.0
urllib3==1.26.12
webencodings==0.5.1
Werkzeug==2.2.1
wrapt==1.14.1
xarray==2022.6.0
xgcm==0.6.1
yarl==1.7.2
zict==2.2.0
